input{
    width: 140px;
    height: 25px;
    text-align: center;
}

button{
    width: 100px;
    height: 25px;
    text-align: center;
    text-transform: lowercase;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
}

.tela_login{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.tela_palitos{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    text-transform: capitalize;
}

.tela_palpite{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}

.jog_palpite{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_palpites{
    margin-left: 20px;
    text-transform: capitalize;
}